@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  transition: background 400ms ease-out;
}

#quote-box {
  max-width: 50rem;
  background: white;
  border-radius: .5rem;
  padding: 2rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  transition: all 300ms ease-out;
}

#author {
  text-align: right;
}

.quote-quotes {
  display: inline-block;
  width: 2.5rem;
  line-height: 0;
  vertical-align: bottom;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

#tweet-quote,
#new-quote {
  background: teal;
  color: white;
  line-height: 0;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: background 400ms ease-out;
}

#new-quote {
  padding: .5rem 1rem;
}

.twitter-icon {
  width: 2rem;
  height: 2rem;
}